.App {
	text-align: center;
}

.Options {
	float: left;
	width: 20%;
	height: 100vh;
	border-right: solid;
}

.Rosters {
	margin-left: 20%;
	width: 80%;
}

.GenerateRoster {
}

.show {
	display: block;
}

.hide {
	display: none;
}

.CharacterButton {
	position: relative;
	/* position: absolute; */
}

.PlayerRoster {
	display: inline-block;
	width: 150px;
	height: 125px;
}

.CharacterPortrait {
	position: relative;
}

.MarkComplete {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 7px;
	left: 20px;
}

.rosterSizeSelection {
	width: 100%;
	margin: auto;
}
