.App {
	text-align: center;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.CharacterButton {
	/* position: absolute; */
}

.PlayerRoster {
	display: inline-block;
	width: 150px;
	height: 125px;
	/* padding: 0px; */
	padding-bottom: 15px;
}

.CharacterPortrait {
	position: relative;
}

.MarkComplete {
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 1;
}
